.dcx-dropzone-widget .dcx-dropzone {
  transition: height 250ms;
}

.dcx-dropzone-widget .view-content {
  overflow: hidden;
}

.dcx-dropzone-widget .view-media-entity-browser .views-row .views-field-name {
  display: none;
}
.dcx-dropzone-widget .view-media-entity-browser .views-row:hover .views-field-name {
  display: block;
}
.dcx-dropzone-widget .view-media-entity-browser .views-row .media-info {
  background: rgba(0,0,0,0.4);
  word-wrap: break-word;
}

.dcx-dropzone-widget .view-media-entity-browser .views-row {
  width: 50%;
  float: left;
}
@media screen and (min-width: 37.5em) {
  .dcx-dropzone-widget .view-media-entity-browser .views-row {
    width: 25%;
  }
}

@media screen and (min-width: 62.5em) {
  .dcx-dropzone-widget .view-media-entity-browser .views-row {
    width: 16.666%;
  }
}