<div{{ attributes }}>

  <div class="box__input">

  {{description}}
  </div>

  <div class="box__uploading">Uploading <span class="counter"></span>images&hellip;</div>
  <div class="box__success">Done!</div>
  <div class="box__error">Error! <span></span>.</div>
</div>
{{ dropvalue }}


