.dcx-dropzone {
  width: 100%;
  text-align: center;
  margin: -1em 0;
  padding: 1em;
  height: 300px;
  background-color: white;
  outline: 2px dashed #0074bd;
  outline-offset: -10px;
  color: #004f80;
  box-sizing: border-box;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box__input {
  position: relative;
  top: 35%;
}

.dcx-dropzone.is-uploading .box__input {
  display: none;
}
.dcx-dropzone.is-uploading .box__uploading {
  display: block;
}
