.dcx-dropzone {
  width: 100%;
  padding: 1em;
  min-height: 3em;
  background-color: white;
  outline: 2px dashed #0074bd;
  color: #004f80;
  box-sizing: border-box;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box__input {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.dcx-dropzone.is-uploading .box__input {
  display: none;
}
.dcx-dropzone.is-uploading .box__uploading {
  display: block;
}
